body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul{
    padding: 0px!important;
}
.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 60px;
}
main,.content{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo ul li{
    padding: 16px;
    width: 70%;
    float: left;
}
.redes-sociais ul li{
    margin-left: 26px;
  display: inline-block; 
  float: left; 
  list-style: none;
}
.redes-sociais{
    width: 25%;
    float: right;

}
.header-2{
    width: 980px;
    margin:0 auto;
    background-color: #ffffff;
    padding: 16px;
}
.menu-urls{
    height: 80px;
    border-bottom: 3px solid #efefef ;
}
.menu ul li{
    display: inline-block;
    list-style: none;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;

}
.menu ul li:hover{
    border-bottom: 3px solid #00bac6;

}
.menu ul li a:hover{
    color: #00bac6;
}
.menu ul li a{   
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 15px;

}
.menu{
    width: 70%;
    float: left;
}
.busca{
    text-align: center;
    width: 30%;
    float: right;
}
.busca input{
    background-image: url('../img/icone-search.png\ .png');
    background-repeat: no-repeat;
    margin-top: 10px;
    height: 36px;
    padding: 12px;
    width: 190px;
    background-position: 96%;
    border:1px solid #8b8b8b;
}
.col-100{
    width:100%;
    float: left;
    position: relative;
}
button.slick-prev{
    width: 25px;    
    height: 51px;
    font-size: 0px;
    background-color: transparent;
    border: none;
    background-image: url("/img/anterior.png");
    position: absolute;
    z-index: 9;
    top: 35%;
    left: 14%;
}
button.slick-next{
    width: 25px;    
    height: 51px;
    font-size: 0px;
    background-color: transparent;
    border: none;
    background-image: url("/img/next.png");
    position: absolute;
    z-index: 9;
    top: 35%;
    right: 14%;
}
.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}

.slick-dots li button{
    font-size: 0px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    background: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer ;
    

}
.slick-dots{
    margin:0 auto;
    width: 50%;
    position: absolute;
    left: 50%; 
    top: 600px;  
      
}
.slick-dots li{
    padding-left: 10px;
    display: inline-block;
}
.slick-slide {
    float: left;
    min-height: 1px;
}
li.slick-active button{
    background:#00bac6;



}




